
body {
    background: #8eb9ff;
    background-size: cover;
    height: 100vh;
    padding-top: 10px;
    margin: 0;
}

input {
    width: 70%;
    outline: none;
    padding: 10px 11px;
    border: 1px #aaa solid;
    font-size: 15px;
    background: #fff;
    display: block;
    margin: 10px auto;
}

#login {
    background: #19b1ca;
    color: #fff;
    border: none;
}

div.login-form {
    width: 30%;
    background: rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
}

form {
    text-align: center;
}

b {
    font-size: 25px;
    color: #fff;
}

a {
    color: #fff;
}

