{% extends 'index.html' %}
{% block content %}
    {% load i18n %}
    <div class="form-control">
        <h1>Status da compra</h1>
        <h2>Valor total: {{ total }}</h2>
        {% for item in buy.items.all %}
            <div class="form-group"><b><i>{{ item.gear }}</i>  X {{ item.amount }}</b></div>
       {% endfor %}
        {% if not user.is_staff %}
            <a href="{% url 'payment' buy.pk %}">
                <button type="button"
                        class="btn btn-primary btn-lg">{% trans "Finalizar Compra" %}</button>
            </a>
        {% endif %}
    </div>

{% endblock %}