<!doctype html>
{% load staticfiles %}
{% load i18n %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Active Gears - Peças Automotivas em geral"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
    <title>Active Gears</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light nav-header" style="background-color: #e3f2fd;">
        
        <div class="logo">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" hrefhref="{% url 'index' %}">Navbar</a>
        </div>
    
        <div class="my-header">
            <div style="margin-bottom: 10px;">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2 field-busca" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <!--
                    <li class="nav-item center-align">
                        <a class="nav-link" href="{% url 'register_gear' %}">Registrar</a>
                    </li>
                    -->
                    <li class="nav-item center-align">
                        <a class="nav-link item-header" href=""><span class="align-middle">Acessórios</span></a>
                    </li>
                    <li class="nav-item center-align">
                        <a class="nav-link item-header" href=""><span class="align-middle">Roda</span></a>
                    </li>
                    <li class="nav-item center-align">
                        <a class="nav-link item-header" href=""><span class="align-middle">Iluminação</span></a>
                    </li>
                    <li class="nav-item center-align">
                        <a class="nav-link item-header" href=""><span class="align-middle">Multimidia</span></a>
                    </li>
                    <li class="nav-item center-align">
                        <a class="nav-link item-header" href=""><span class="align-middle">segurança</span></a>
                    </li>
                    <li class="nav-item center-align">
                        <a class="nav-link item-header" href=""><span class="align-middle">Grades</span></a>
                    </li>
                    <li class="nav-item center-align">
                        <a class="nav-link item" href=""><span class="align-middle">Motocicletas</span></a>
                    </li>
                    
                </ul>
            </div>
        </div>
    
        <div class="cart">
            <div class="center-align profile">
                <i class="fas fa-user-circle fa-2x"></i>
                <span class="item-header" style="padding-right: 10px;">Entre ou registre-se</span>

                <i class="fas fa-cart-arrow-down fa-2x" style="margin-left: : 10px;"></i>
            </div>
            
                    <form action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}"/>
                        <label>
                            <select name="language">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}

                                    <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}
                                            selected{% endif %}>

                                        <a class="dropdown-item" href="#">
                                            {{ language.name_local }} ({{ language.code }})
                                        </a>
                                        <div class="dropdown-divider"></div>
                                    </option>
                                {% endfor %}
                            </select>
                        </label>
                        <input type="submit" class="btn btn-primary" value="Go"/>
                    </form>
            <!--
            <li class="nav-item center-align">
                <a class="nav-link" href="{% url 'logout' %}">Sair</a>
            </li>
            -->
        </div>

    </nav>
</header>
<div class="container">
    {% if messages %}
        <div class="pure-g-r content-ribbon">
            <aside class="pure-u-1">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </aside>
        </div>
    {% endif %}
</div>
{% block content %}
{% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="{% static 'js/message.js' %}"></script>
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
</html>