{% extends 'base_loged.html' %}
{% load i18n %}
{% block content %}
    <div class="center">
        {% trans "Aqui vocês poderão realizar pedidos e compras de peças para seus automóveis com a maior facilidade já vista no mercado." %}
        {% trans message as msg %}
        {% blocktrans %}
            A mensagem é: {{ msg }}
        {% endblocktrans %}
        <br>
        {% trans product %}
    </div>

    <div class="row">
        {% for gear in gears %}
            <div class="col-sm-3 col-sm-offset-1 clearfix">
                <p style="text-align:center;">
                    <b>{% blocktrans %}{{ gear.name_descr }}{% endblocktrans %}
                        {{ gear.name_descr }} | R${{ gear.price }}</b>
                </p>
                <a href="#">
                    <img src="{{ gear.thumb.url }}" class="img-responsive pull-left rounded mx-auto d-block"
                         width="150px" height="150px"/>
                </a>
                {% if user.is_authenticated %}
                    {% if not user.is_staff %}
                        <div class="center">
                            <button id='add_cart' class="btn btn-primary"
                                    type="button">{% trans "Adicionar ao carrinho" %}</button>
                        </div>
                    {% else %}
                        <div class="center">
                            <button id='mng_item' class="btn btn-primary"
                                    type="button">{% trans "Gerenciar item" %}</button>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <button class="btn btn-primary" onclick="show_message()" type="button">{% trans "Mostrar mensagem" %}</button>
{% endblock %}