{% extends 'base_loged.html' %}
{% load i18n %}

{% block user %}
    <div class="center-align profile">
        <a href="{% if user.is_authenticated %}{% url 'user_profile' %}{% endif %}">
            <i class="fas fa-user-circle fa-2x"></i>
        </a>
        {% if not user.is_authenticated %}
            <span class="item-header" style="padding-right: 10px;">
                        <a href="{% url 'login' %}">Entre ou registre-se</a></span>
        {% else %}
            <span class="item-header" style="padding-right: 10px;">
                        <a href="{% url 'logout' %}">Sair</a></span>
            <i class="fas fa-cart-arrow-down fa-2x" style="margin-left: 10px;"></i>
            <span class="badge badge-info">{{ buy.items.count }}</span>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div class="center">
        {% trans "Aqui vocês poderão realizar pedidos e compras de peças para seus automóveis com a maior facilidade já vista no mercado." %}
        {% trans message as msg %}
        {% blocktrans %}
            A mensagem é: {{ msg }}
        {% endblocktrans %}
        <br>
        {% trans product %}
    </div>

    <div class="row">
        {% for gear in gears %}
            <div class="col-sm-3 col-sm-offset-1 clearfix">
                <p style="text-align:center;">
                    <b>{% blocktrans %}{{ gear.name_descr }}{% endblocktrans %}
                        {{ gear.name_descr }} | R${{ gear.price }}</b>
                </p>
                <a href="#">
                    <img src="{{ gear.thumb.url }}" class="img-responsive pull-left rounded mx-auto d-block"
                         width="150px" height="150px"/>
                </a>
                {% if user.is_authenticated %}
                    {% if not user.is_staff %}
                        <div class="center">
                            <button id='add_cart' class="btn btn-primary"
                                    type="button" data-toggle="modal" data-target="#exampleModal{{ gear.pk }}">
                                {% trans "Adicionar ao carrinho" %}
                            </button>
                            <div class="modal fade" id="exampleModal{{ gear.pk }}" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">
                                                {% trans "Adicionar ao carrinho" %}
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            {{ gear }}
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{% url 'add_item' gear.pk %}">
                                                <button type="button"
                                                        class="btn btn-primary btn-lg">{% trans "Sim" %}</button>
                                            </a>
                                            <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">
                                                {% trans "Não" %}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="center">
                            <a href="{% url 'gear_manage' gear.pk %}">
                                <button id='mng_item' class="btn btn-primary"
                                        type="button">{% trans "Gerenciar item" %}</button>
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <button class="btn btn-primary" onclick="show_message()" type="button">{% trans "Mostrar mensagem" %}</button>
{% endblock %}