{% extends 'base_loged.html' %}
{% load i18n %}
{% block content %}
    <div class="center">
        {% trans "Página index em teste" %}
        {% trans "Aqui vocês poderão realizar pedidos e compras de peças para seus automóveis com a maior facilidade já vista no mercado." %}
        {% trans message as msg %}
        {% blocktrans %}
            A mensagem é: {{ msg }}
        {% endblocktrans %}
        <br>
        {% trans product %}
    </div>

    <div class="row">
        {% for gear in gears %}

            <div class="col-sm-3 col-sm-offset-1 clearfix">
                <p style="text-align:center;"><b>{{ gear.name_descr }} | R${{ gear.price }}</b></p>
                <a href="#">
                    <img src="{{ gear.thumb.url }}" class="img-responsive pull-left rounded mx-auto d-block"
                         width="150px"/>
                </a>
            </div>
        {% endfor %}
    </div>
    <button class="btn btn-primary" onclick="show_message()" type="button">{% trans "Mostrar mensagem" %}</button>
{% endblock %}