.nav-header{
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.logo{
	width: 15%;
}

.my-header{
	width: 60%;
}

.field-busca{
	min-width: 86%;
}

.center-align{
	text-align: center;
	width: 100px;
}

.item-header{
	height: 50px;
	border-right: 1px solid #B7DAF3;
}

.item{
	height: 50px;
}

.cart{
	width: 20%;
	text-align: right;
}

.profile{
	width: 100%;
}